$color-textrubric:                            rgb(51, 51, 51);
$color-texthobby:                             rgb(102, 102, 102);
$color-red:                                   rgb(255, 78, 80);
$color-texthedertop:                          rgb(255, 255, 255);
$color-input:                                 rgb(204, 204, 204);
$color-fantom:                                rgba(224, 238, 224, 0.1);
$padding-link:                                9px 15px 9px 15px;
$padding-buttom-link:                         9px 27px 9px 27px;
$buttom-search:                               11px 24px 11px 25px;
$padding-buttom-link320:                      11px 51px 11px 51px;
$fontMontserrat:                              Montserrat, bold;
$fontRoboto:                                  Roboto, sans-serif;

